@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    color: #222222;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #ca4c3f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    width: auto;
    text-align: center;
    padding: 0;
    margin-top: 5rem;
}

.menu {
    width: auto;
    text-align: center;
    font-weight: bold;
}

.banner {
    width: 100%;
    text-align: center;
}

.coluna {
    width: 100%; 
    display: block; 
    margin-bottom: 1.875rem;
    padding: 0 20px;
    box-sizing: border-box;
}

.banner img {
    width: 90%;
    max-width: 500px;
}

.banner p {
    font-size: 1.625rem;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

.botao {
    display: inline-block;
    border: 0.06rem solid #333333;
    border-radius: 0.875rem;
    padding: 1.25rem;
    font-size: 1.25rem;
    margin-top: 10px;
}

.cardapio {
    box-sizing: border-box;
    border-top: 1px dashed #999999;
    width: 100%;
    margin: auto;
    max-width: 61.25rem;
    text-align: left;
    margin-top: 6.25rem;
    padding: 3.125rem 0.9375rem;
}

.cardapio h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.categoria-menu h3 {
    text-align: left;
    color: #ca3c3f;
    font-size: 1.5rem;
    margin-top: 3.125rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cardapio-item {
    padding-top: 1.5rem;
    text-align: left;
    width: 100%;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 1.5rem;
}

.cardapio-nome {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    color: #222222;
}

.cardapio-preco {
    font-size: 1rem;
    color: #ca3c3f;
    font-weight: bold;
    margin-left: 10px;
}

.cardapio-descricao {
    font-size: 0.875rem;
    color: #666666;
    margin-top: 5px;
    line-height: 1.4;
}

footer {
    margin-top: 6.25rem;
    text-align: center;
    padding: 3.125rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: #333333;
}

.link-whatsapp img {
    height: 3.75rem;
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    z-index: 1000;
}

@media (min-width: 768px) {
    .coluna {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
    }

    .banner p {
        font-size: 2.5rem;
        text-align: left;
        padding-left: 0;
    }

    .categoria-menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        row-gap: 10px;
    }

    .cardapio-item {
        border-bottom: none;
    }

    .cardapio-nome {
        font-size: 1.5rem;
    }

    .cardapio-preco {
        font-size: 1.2rem;
    }

    .cardapio-descricao {
        font-size: 1.1rem;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container { 
        width: 980px; 
        margin: 0 auto; 
    }
}